.startpage{
    height: fit-content;
    background-image: url("../img/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .page1{
    height: fit-content;
    background-image: url("../img/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .page2{
    height: fit-content;
    background-image: url("../img/bg3.png");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
  }

  .page3{
    height: fit-content;
    background-image: url("../img/bg4.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
  }
  .page4{
    height: fit-content;
    background-image: url("../img/bg5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .page5{
    height: fit-content;
    background-image: url("../img/bg6.png");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
  }
  .page6{
    height: fit-content;
    background-image: url("../img/bg7.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
  }
  .page7{
    height: fit-content;
    background-image: url("../img/bg8.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
  }
  
  p{
    color: grey;
    padding: 20px;
    margin: 5px;
    font-family: Lato;
    font-weight: 400;
    text-align: center;
   }
   
   h1{
    font-family: Lato;
    text-align: center;
    padding: 20px;
  }

.hidden{
  display:none;
}

img{
  width: 100px;
  height: 100px;
}